@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
  --fg: #ffffff;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --scrollbarColor: #3f3f3f;
  --fontFamily: "Roboto Mono", monospace;
  --background-image: url("../images/bg-image3.jpeg");
}

body {
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-image) center / cover no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#clock {
  font-family: var(--fontFamily);
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--fg);
  margin-bottom: 0.25em;
}

#search {
  width: 100%;
  height: 100vh;
  background-color: var(--containerBg);
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-field {
  width: 90%;
  padding: 0.75em 1em;
  background-color: var(--containerBg);
  border: none;
  font-family: var(--fontFamily);
  font-size: 4rem;
  color: var(--fg);
  outline: none;
  border-radius: 5px;
  margin: 3em 0 1em;
  text-align: center;
}

.weather-container {
  width: 30%;
  background-color: var(--containerBg);
  padding: 1em;
  border-radius: 10px;
  font-family: var(--fontFamily);
  font-size: 1.7rem;
  color: var(--fg);
  text-align: center;
}

#bookmark-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 1em 0;
}

.bookmark-set {
  padding: 1.7em;
  background-color: var(--containerBg);
  border-radius: 10px;
  font-family: var(--fontFamily);
  width: 30%;
  height: 20em;
  margin: 0 1em;
}

.bookmark-inner-container {
  height: 80%;
  overflow-y: scroll;
  padding-right: 6px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) transparent;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}

.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
}

.bookmark-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0 0 0.35em;
}

.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  font-size: 1.1rem;
  margin: 1em 0;
}

.bookmark:hover {
  color: var(--fg);
}

@media only screen and (max-width: 960px) {
  #clock {
    margin-top: 1em;
  }

  #bookmark-container {
    flex-direction: column;
    width: 60%;
  }

  .bookmark-set {
    width: auto;
    margin: 1em 0;
  }
}
